header.md-header {
	background-color: #4fc3af;
}
.md-nav__link--active, .md-nav__link:active {
	color: #00ad8f;
}
.md-nav__link:focus, .md-nav__link:hover {
	color: #00826b;
}
.md-search__form:hover {
	background-color: #029784;
}
.md-typeset a {
	color: #00826b;
}
.md-typeset a:hover {
	color: #00ad8f;
}
.headerlink:focus, .headerlink:hover {
	color: #00826b !important;
}
.headerlink:focus .headerlink:hover, .md-typeset .headerlink {
	color: #00826b !important;
}
@media only screen and (max-width: 76.1875em) {
	html .md-nav--primary .md-nav__title--site {
		background-color: #4fc3af;
	}
}
